<div class="search-container">
  <form class="search-form" (submit)="$event.preventDefault()">
    <mat-form-field>
      <mat-label>Nume carte</mat-label>
      <input matInput #bookName/>
    </mat-form-field>
    <button id="cauta" mat-raised-button (click)="getBooks()" color="accent">Cauta</button>
  </form>
  <mat-divider></mat-divider>
  <mat-card *ngIf="books.length != 0" class="listContainer">
    <app-book-card
      *ngFor="let book of books"
      [book]="book"
      (click)="openAddBookDialog(book)"
    ></app-book-card>
  </mat-card>
</div>
