<mat-card>
  <div>
    <div class="user-progress">
      <h2>Nivel {{ userProgress.userLevel }}</h2>
      <h2>{{ userProgress.xpLevel }}/{{ userProgress.userLevel * 25 }} XP</h2>
    </div>
    <mat-progress-bar
      mode="determinate"
      value="{{ (userProgress.xpLevel * 100) / (userProgress.userLevel * 25) }}"
    ></mat-progress-bar>

    <div class="divider">
      <mat-divider></mat-divider>
    </div>
  </div>
  <app-category-card
    *ngFor="let category of categoryProgress"
    [category]="category"
  ></app-category-card>
</mat-card>
