<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-icon class="icon">auto_stories</mat-icon>
    <span>ReadingBooks</span>

    <div class="spacer"></div>

    <a mat-button routerLink="myActivity">My Activity</a>
    <a mat-button routerLink="browseBooks">Browse Books</a>
    <a mat-button routerLink="categories">Categories</a>
    <a mat-button routerLink="statistics">Statistics</a>
    <a mat-button routerLink="feedback">Feedback</a>
    <a mat-raised-button color="accent" routerLink="authentication">Auth</a>
</mat-toolbar>
