<mat-card class="container">
  <div class="card-details">
    <div>
      <mat-card-title class="card-title">{{book.title}}</mat-card-title>
      <mat-card-subtitle>{{book.autor}}</mat-card-subtitle>
    </div>
    <div>
      <mat-card-subtitle>{{book.categorii}}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="book.nrPag!=0" class="nr-pag">{{book.progres}}/{{book.nrPag}} pag</mat-card-subtitle>
    </div>
  </div>
    <mat-progress-bar mode="determinate" value="{{book.percent}}"></mat-progress-bar>
</mat-card>
