<div class="container">
  <ngx-auth-firebaseui
    (onSuccess)="toBooks($event)"
    [registerTabText]="'Înregistrare'"
    [loginButtonText]="'Autentificare'"
    [signInTabText]="'Intră în cont'"
    [signInCardTitleText]="'Conectare'"
    [passwordText]="'Parolă'"
    [forgotPasswordButtonText]="'Ai uitat parola?'"
    [registerCardTitleText]="'Înregistrare'"
    [registerButtonText]="'Înregistrare'"
    [nameText]="'Nume'"
    [emailText]="'Email'"
    [guestEnabled]="false"
    [providers]="[
      'google',
      'facebook',
      'microsoft',
      'github',
      'yahoo',
      'twitter'
    ]"
  ></ngx-auth-firebaseui>
</div>
