@import '~@angular/material/theming';
@include mat-core();

$primary : mat-color($mat-purple);
$accent : mat-color($mat-green);
$warn : mat-color($mat-red);
.dash-container{
    display: flex;
    height: calc(100% - 88px);
    background-color: $accent;
    margin: 12px;

    app-books-view {
        width: 50%;
    }

    app-categories-view {
        width: 50%;
    }
}
